@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.header{
    color:greenyellow;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(29, 68, 29);
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    
}

.link{
    color: greenyellow;
    position: relative;
    left: 315px;
    top: 40px;
    font-size: 15px;
}
